body
{

font-family: proxima_nova_rgregular, 'Helvetica Neue' ,Helvetica,Calibri,Arial,sans-serif;
overflow-x: hidden;
overflow-y: scroll;

}
/* Header */
header
{
border:1px solid rgb(0,0,0,0);            
border-image: none 100% 1 0px stretch; 
border-radius:4px;
box-sizing: border-box;
background-color: #3e4043;
display: block;
font-family: Gibson, sans-serif;
font-size: 14px;
height: 60px;
line-height: 20px;
min-height: 50px;
position: relative;
padding:10px 0px 10px 0px;

}

.logo
{
border:0px none rgb(255,255,255);
color: rgb(203,32,45);
display: inline;
font-size: 13.3333330154419px;
height: 31px;
line-height: 18.6666660308838px;
text-align: center;
vertical-align: middle;
width:20%;

}
.enquiry-button
{
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.15s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-out;
background-color: rgb(203, 32, 45);
border-radius:7px;
color: rgb(255, 255, 255);            
border:0px none rgb(255,255,255);
display: block;
float: left;
font-family: proxima_nova_rgregular, 'Helvetica Neue' ,Helvetica,Calibri,Arial,sans-serif;
font-size: 14px;
font-weight: bold;
height: 42px;
line-height: 42px;
padding:0px;
text-align: center;
text-transform: uppercase;
width: 10%;
margin-left: 1%;

}
.contact-button
{

-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.15s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-out;
background-color: rgb(203, 32, 45);
border-radius:7px;
color: rgb(255, 255, 255);
cursor: auto;
display: inline;
font-size: 13.3333330154419px;
height: auto;
line-height: 22px;
padding:4px 8px 4px 8px;
text-align: center;
text-decoration: none;
transition-delay: 0s;
transition-duration: 0.15s;
transition-property: all;
transition-timing-function: ease-out;
width: auto;
zoom: 1;
margin-left:30%;
margin-right:1%;
float:left;
margin-top:13px;


}

.login-img
{
width: 3%;
height: 30px;
background: #ffffff;
display: block;
float: left;
font-color: rgb(45,45,45);
font-size: 14px;
font-weight: bold;
height: 30px;
line-height: 42px;
outline-color: rgb(255,255,255);
padding-bottom:2px;
padding-left: 2px;
padding-right: 2px;
padding-top: 2px;
margin-left:0.35%;
margin-top:13px;

}
.location-container
{
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.15s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-out;
background-color: rgb(203, 32, 45);
border-radius:3px;     
background: #ffffff;
border:1px solid #81C0C5;
display: block;
float: left;
font-color: rgb(45,45,45);
font-size: 14px;
font-weight: bold;
height: 40px;
line-height: 42px;
outline-color: rgb(255,255,255);
outline-style: none;
outline-width: 0px;
text-align: center;
text-transform: uppercase;
width: 20%;
margin-left: 20%;
}

/* Middle Section */
.middle-section
{
box-sizing: border-box;
background-color: white;
display: block;
font-family: Gibson, sans-serif;
font-size: 14px;
height: 510px;
line-height: 20px;
width: 100%;
margin-left:0.5%;
margin-top:20px;

}

.sort-links-big{
color: rgb(45, 45, 45);
font-color:rgb(45, 45, 45);
display: block;
font-family: proxima_nova_rgregular, 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
font-size: 13.3333330154419px;
height: 34px;
line-height: 18.6666660308838px;
list-style-type: none;
width: 70%;
zoom: 1;
}

.sort-link
{
display: inline-block;
margin-right: 3px;
text-align: left;
width: 91.203125px;
zoom: 1;
float:left;
background-color:gray;
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.15s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-out;
border-radius:5px;
color: rgb(255, 255, 255);
cursor: auto;
display: inline;
font-size: 13.3333330154419px;
height: auto;
line-height: 22px;           
outline:rgb(255,255,255) none 0px;
padding:4px 36px 4px 36px;
text-align: center;
text-decoration: none;
transition-delay: 0s;
transition-duration: 0.15s;
transition-property: all;
transition-timing-function: ease-out;
width: auto;
margin-right:3%;
float:left;
margin-top:0px;
}

/* Left Column */
.left-column
{
width: 23.75%;
border-right:1px dotted;
color: rgb(45,45,45);
display: block;
float: left;
font-size: 13.3333330154419px;
height:inherit;
line-height: 18.6666660308838px;
min-height: 1px;
position: relative;
float: left;
}
.accordion
{           
background:	#B8B8E6;
height: 378px;
margin:4%;
}
.create-event
{
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.15s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-out;
background-color: rgb(203, 32, 45);
border-radius:7px;
color: rgb(255, 255, 255);         
border:0px none rgb(255,255,255);
display: block;
float: left;
font-size: 14px;
font-weight: bold;
height: 35px;
line-height: 42px;
outline:rgb(255,255,255) none 0px;

text-align: center;
text-transform: uppercase;
width: 80%;
margin:5%;
margin-left:10%;
}
.custom-parties
{
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.15s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-out;
background-color: rgb(203, 32, 45);
border-radius:7px;
color: rgb(255, 255, 255);         
border:0px none rgb(255,255,255);
display: block;
float: left;
font-size: 14px;
font-weight: bold;
height: 35px;
line-height: 42px;
outline:rgb(255,255,255) none 0px;
text-align: center;

text-transform: uppercase;
width: 80%;
margin:5%;
margin-left:10%;
}
/* Right Column */
.right-column
{
float: left;


color: rgb(45,45,45);
display: block;
font-size: 13.3333330154419px;
height: inherit;
line-height: 18.6666660308838px;
min-height: 1px;
position: relative;
width: 75%;

}

/* Bottom Section*/
.bottom-section
{
float: left;
background: #B8B8B8;
color: rgb(45,45,45);
display: block;
font-size: 13.3333330154419px;
height: 80px;
line-height: 18.6666660308838px;           
width: 100%;

}
.add-venue
{
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.15s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-out;
background-color: rgb(203, 32, 45);
border-radius:7px;      
border:1px solid #81C0C5;
background: #ffffff;
display: block;
float: left;
font-color: rgb(45,45,45);
font-size: 14px;
font-weight: bold;
height: 40px;
line-height: 42px;
outline:rgb(255,255,255) none 0px;
text-align: center;
text-transform: uppercase;
width: 20%;
margin-left: 10%;
font-color:gray !important;
margin:18px 0px 18px 0px;
margin-left:10%;

}
.review-button
{
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.15s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-out;
background-color: rgb(203, 32, 45);
border-radius:7px;      
border:1px solid #81C0C5;
background: #ffffff;
display: block;
float: left;
font-color: rgb(45,45,45);
font-size: 14px;
font-weight: bold;
height: 40px;
line-height: 42px;
outline:rgb(255,255,255) none 0px;
text-align: center;
text-transform: uppercase;
width: 20%;
margin-left: 10%;
font-color:gray !important;
margin:18px 0px 18px 0px;
margin-left:10%;
}
.recent-events
{
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.15s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-out;
background-color: rgb(203, 32, 45);
border-radius:7px;      
border:1px solid #81C0C5;
background: #ffffff;
display: block;
float: left;
font-color: rgb(45,45,45);
font-size: 14px;
font-weight: bold;
height: 40px;
line-height: 42px;
outline:rgb(255,255,255) none 0px;
text-align: center;
text-transform: uppercase;
width: 20%;
margin:18px 0px 18px 0px;
font-color:gray !important;
margin-left:10%;

}


/* Miscellaneous*/
a.white-anchor
{
color: #ffffff !important;
}

/* Footer */

footer
{
border:1px solid rgb(0,0,0,0);            
border-image: none 100% 1 0px stretch; 
border-radius:4px;
box-sizing: border-box;
background-color: #3e4043;
display: block;
font-family: Gibson, sans-serif;
font-size: 14px;
height: 80px;
line-height: 20px;
min-height: 50px;
position: relative;
padding:10px 0px 10px 0px;
}

.footer-links-big{
color: rgb(45, 45, 45);
font-color:rgb(45, 45, 45);
display: block;
font-family: proxima_nova_rgregular, 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
font-size: 13.3333330154419px;
height: 34px;
line-height: 18.6666660308838px;
list-style-type: none;
width: 60%;
zoom: 1;
}

.footer-link
{
display: inline-block;
margin-right: 3px;
text-align: left;
width: 91.203125px;
zoom: 1;
float:left;
background-color:rgb(40,40,40);
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.15s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-out;
border-radius:5px;
color: rgb(255, 255, 255);
cursor: auto;
display: inline;

font-size: 13.3333330154419px;
height: auto;
line-height: 22px;           
outline:rgb(255,255,255) none 0px;
padding:4px 8px 4px 8px;
text-align: center;
text-decoration: none;
transition-delay: 0s;
transition-duration: 0.15s;
transition-property: all;
transition-timing-function: ease-out;
width: auto;
margin-right:1%;
float:left;
margin-top:0px;
}

/* Modal */
        .modal-custom-header
        {
            display: block;
            font-family: Gibson, sans-serif;
            font-size: 14px !important;
            height: 60px !important;
            line-height: 20px;
            min-height: 50px;
            position: relative;
            padding-bottom: 10px;
            padding-top: 10px;
            font-color: white !important;
            font-weight: bold;
        }
        
        
        .modal-image
        {
            width: 100%;
            height: 150px;
            margin-top: -17px;
        }

/* Contact Us */
 .contact-box
        {
            -webkit-appearance: none;
            -webkit-rtl-ordering: logical;
            -webkit-transition-delay: 0s;
            -webkit-transition-duration: 0.15s;
            -webkit-transition-property: border-color;
            -webkit-transition-timing-function: ease-out;
            -webkit-user-select: text;
            -webkit-writing-mode: horizontal-tb;
            background-color: rgb(244, 244, 244);
            border-radius:3px;      
            border-style: solid;
            border-width: 1px;
            border-image: none 100% 1 0px stretch;    
            border-color: rgb(228, 228, 228);
            color: rgb(125, 125, 125);
            cursor: auto;
            display: inline-block;
            font-family: proxima_nova_rgregular, 'Helvetica Neue' , Helvetica, Calibri, Arial, sans-serif;
            font-size: 13.3333330154419px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            height: 38px;
            letter-spacing: normal;
            line-height: 20px;
            outline:rgb(255,255,255) none 0px;
            padding:11px 10px 9px 10px;
            text-align: start;
            text-indent: 0px;
            text-rendering: auto;
            text-shadow: none;
            text-transform: none;
            transition-delay: 0s;
            transition-duration: 0.15s;
            transition-property: border-color;
            transition-timing-function: ease-out;
            vertical-align: baseline;
            width: 80%;
            word-spacing: 0px;
            writing-mode: lr-tb;
            margin: 20px 20px 20px 20px;
        }
        textarea
        {
            height: 156px !important;
        }
        .contactUs-body
        {
            margin: 20px 20px 20px 20px;
            color: gray;
        }
        .contactUs-heading
        {
            margin: 20px 20px 20px 20px;
            font-weight: bold;
            color: gray;
        }
/* About Us */
        .aboutUs-body
        {
            margin: 20px 20px 20px 20px;
        }
        .aboutUs-profile-img
        {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            display: inline-block;
            width: 80px;
            height: 80px;
            margin: 20px 20px 20px 20px;
            float: left;
        }
        .aboutUs-profile-name
        {
            font-size: 16px;
            margin: 30px 20px 20px 20px;
            float: left;
        }
        .aboutUs_profile
        {
            font-size: 14px;
            line-height: 1.3;
            margin: 30px 20px 80px 20px;
        }
  
  /*accordion*/
          .list-group.panel > .list-group-item
        {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        .list-group-submenu
        {
            margin-left: 20px;
        }
        
 /*Grid*/
 .grid
 {
     
 box-sizing: border-box;
 border-radius:3px;
color: rgb(45, 45, 45);
display: block;
float: left;
font-family: proxima_nova_rgregular, 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
font-size: 13.3333330154419px;
height: 100px;
line-height: 18.6666660308838px;
min-height: 1px;
padding-left: 10px;
padding-right: 10px;
position: relative;
width: 200px;
zoom: 1;
margin:20px 20px 20px 20px;
}






